<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jacksonasantos.travelplan">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:label="@string/app_name"
        android:icon="@drawable/ic_logo_travelplan"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.vehicle.FuelSupplyActivity"
            android:label="Vehicle" />
        <activity
            android:name=".ui.vehicle.MaintenanceActivity"
            android:label="Vehicle" />
        <activity
            android:name=".ui.vehicle.VehicleActivity"
            android:label="Vehicle" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"/>
    </application>

</manifest>