<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:vmSafeMode="true"

        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_logo_travelplan"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="s">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            tools:ignore="Instantiatable"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity" />
        <activity
            android:name=".ui.general.InsuranceCompanyActivity"
            android:label="@string/Insurance_Company" />
        <activity
            android:name=".ui.general.InsuranceActivity"
            android:label="@string/insurance" />
        <activity
            android:name=".ui.general.BrokerActivity"
            android:label="@string/Broker" />
        <activity
            android:name=".ui.general.CurrencyQuoteActivity"
            android:label="@string/Currency_Quote" />
        <activity
            android:name=".ui.vehicle.FuelSupplyActivity"
            android:label="@string/FuelSupply_Vehicle" />
        <activity
            android:name=".ui.vehicle.MaintenanceActivity"
            android:label="@string/Maintenance_Vehicle" />
        <activity
            android:name=".ui.vehicle.VehicleMaintenanceItemActivity"
            android:label="@string/Vehicle_MaintenanceItem" />
        <activity
            android:name=".ui.general.PersonActivity"
            android:label="@string/Person" />
        <activity
            android:name=".ui.general.MaintenancePlanActivity"
            android:label="@string/Maintenance_Plan" />
        <activity
            android:name=".ui.vehicle.VehicleActivity"
            android:label="@string/Vehicle" />
        <activity
            android:name=".ui.vehicle.VehiclePlanActivity"
            android:label="@string/Vehicle_Plan" />
        <activity
            android:name=".ui.vehicle.PendingVehicleActivity"
            android:label="@string/PendingVehicle" />
        <activity
            android:name=".ui.vehicle.VehicleHasPlanActivity"
            android:label="@string/Vehicle_Plan" />
        <activity
            android:name=".ui.travel.TravelActivity"
            android:label="@string/Travel" />
        <activity
            android:name=".ui.travel.TourActivity"
            android:label="@string/Tour" />
        <activity
            android:name=".ui.travel.TransportActivity"
            android:label="@string/Transport" />
        <activity
            android:name=".ui.travel.ItineraryHasTransportActivity"
            android:label="@string/Itinerary_has_Transport" />
        <activity
            android:name=".ui.travel.ItineraryActivity"
            android:label="@string/Itinerary" />
        <activity
            android:name=".ui.travel.MaintenanceItineraryActivity"
            android:label="@string/Itinerary" />
        <activity
            android:name=".ui.travel.ReservationActivity"
            android:label="@string/Reservation" />
        <activity
            android:name=".ui.general.AccommodationActivity"
            android:label="@string/accommodation" />
        <activity
            android:name=".ui.general.AchievementActivity"
            android:label="@string/Achievement" />
        <activity
            android:name=".ui.general.SettingsActivity"
            android:label="@string/action_settings" />
    </application>

</manifest>